
tests/KeyChain.Net.Tests.XamarinAndroid/obj/Debug/android/keychain/net/tests/xamarinandroid/R.java

tests/KeyChain.Net.Tests.XamarinAndroid/obj/Release/android/src/keychain/net/tests/xamarinandroid/R.java
